
                <%= form_with(model: job, local: true) do |form| %>
                
                
                </div>
                <div class="col-md-8 col-md-offset-2">
                <div class="modal-body">
                  <div class="form-group">
                    <label>Upload Logo</label>
                    <%= form.file_field :job_img, id: :job_img, :class => 'form-control' %>
                  </div>
                  <div class="form-group">
                    <label>Job Title</label>
                    <%= form.text_field :title, id: :job_title, :class => 'form-control', :placeholder => 'Technical Consultant', :style => "text-transform: capitalize" %>
                  </div>
                  
                  <div class="form-group">
                    <label>Job Description</label>
                    <%= form.text_area :description, id: :job_description, :class => 'form-control', :row => '6', :placeholder => 'PHP and/or Java. Architect features with the development team. Krossover is looking for a Web Application Developer to join our team of smart developers' %>
                  </div>

                  <div class="form-group">
                    <label>Location</label>
                    <%= form.text_field :location, id: :job_location, :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <label>Company</label>
                    <%= form.text_field :company, id: :job_company, :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <label>Job Benefits</label>
                    <%= form.text_area :job_benefits, id: :job_job_benefits, :class => 'form-control', :row => '6', :placeholder => '404 Health Plan' %>
                  </div>

                   <div class="form-group">
                    <label>Responsibilities</label>
                    <%= form.text_area :job_task, id: :job_job_task, :class => 'form-control' %>
                  </div>

                   <div class="form-group">
                    <label>Application Link</label>
                    <%= form.text_field :job_link, id: :job_job_link, :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <label>Job Salary</label>
                    <%= form.text_field :job_salary, id: :job_job_salary, :class => 'form-control' %>
                  </div>

                  <div class="form-group">
                    <label>Job Type</label>
                    <%= form.text_field :job_type, id: :job_job_type, :class => 'form-control' %>
                  </div>

                  <div class="checkbox flat-checkbox">
                    <label>
                      <input type="checkbox"> 
                      <span class="fa fa-check"></span>
                      Send a copy to my email address?
                    </label>
                  </div>
                </div>
                  
                      <div class="modal-footer">
                      <%= link_to 'Back', jobs_path, :class => 'btn btn-default btn-theme' %>
                      <%= form.submit 'Submit', :class => 'btn btn-success btn-theme' %>
                    </div>
                  
                    
              <% end %>
</div>