<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #fff;">
  	<% if user_signed_in? %>
  		<%= render 'layouts/user' %>
  	<% else %>
	  	<%= render 'layouts/nav' %>
	<% end -%>
	    <%= yield %>
	    <%= render 'layouts/header' %>
  </body>
</html>
